header {
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid black;
    font-size: 1.3rem;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}